<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.page.mapper.ClassroomMapper">

    <resultMap id="BaseResultMap" type="com.simple.page.domain.Classroom">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="classroomName" column="classroom_name" jdbcType="VARCHAR"/>
            <result property="classroomDescribe" column="desc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classroom_name,classroomDescribe
    </sql>
</mapper>
