<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.page.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.simple.page.domain.Student">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="studentDescribe" column="desc" jdbcType="VARCHAR"/>
        <result property="classroomId" column="classroom_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_name,age,
                studentDescribe,classroom_id
    </sql>

    <select id="listStudent" resultType="com.simple.page.domain.Student">
        select *
        from student
        where student_name like concat('%', #{studentName}, '%')
    </select>
</mapper>
